[submodule "libraries/common-library"]
	path = libraries/common-library
	url = https://github.com/DerOli82/common-library
[submodule "libraries/ui-library"]
	path = libraries/ui-library
	url = https://github.com/DerOli82/ui-library
