[submodule "lib/common-library"]
	path = lib/common-library
	url = https://github.com/DerOli82/common-library
	branch = 1.11.2
[submodule "lib/ui-library"]
	path = lib/ui-library
	url = https://github.com/DerOli82/ui-library
    branch = master
